<footer>
    <p id="right">Coding Ninjas. All rights reserved</p>

    <div id="nav-links">
        <a href="/">Home</a>
        <% if(locals.user){%>
        <a href ="/users/profile/<%= user.id%>">My Profile</a>
        <%}%>
    </div>
</footer>