<header id="header-layout">
  <nav>
    <div class="logo">
      <p>
        <a href='/' style=" font-size: 1.9rem;">
          <h1>Codeial</h1>
        </a>
      </p>
    </div>
  
    <div class="auth-links">
      <ul>
        <% if(locals.user){%>
          <li id="user-img-container">
            <a href="/users/profile/<%= user.id %>">
                <img style="font-size: small; line-height: 10px;" src="<%=user.avatar%>" alt="Please add an image" width="50px" height="50px">
            </a>
        </li>
        <li><a id="user-name" href="/users/profile/<%= user.id%>"><%= user.name %></a>
        </li>
        <li><a id="user-name" href="/users/sign-out">Sign OUT</a></li>
        <%} else { %>
        <li><a id="user-name" href="/users/sign-in">Sign IN</a></li>
        <li><a id="user-name" href="/users/sign-up">Sign UP</a></li>
        <% } %>
      </ul>
    </div>
  </nav>
  
  
</header>