<div>
    <p>
        Hi, <%= comment.user.name %> !
        <br>
        <br>
        Your comment <i> <strong> <%= comment.content %>  </strong> </i> on <%= post.user.name%>'s  post is now published on Codeial!
        <br>
        Thank you for making Codeial a better community for everyone around the globe !
    </p>
</div>